:root {
    --green: hsl(162, 45%, 56%);
    --plomo: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(200, 54%, 12%);
    --glass-bg-color: hsla(0, 0%, 100%, 0.05);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px);
    --button-hover-color: hsla(0, 0%, 0%, 0.03);
}

.body-login {
    background-color: var(--body-bg-color);
    color: var(--text-light-gray);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    width: auto;
    height: auto;
    background-size: cover;
    background-size: block;
    background-position: center;
    display: block;
}

body-b {
    content: "";
    width: 80%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-repeating-linear-gradient(white, );
    opacity: 0.5;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.tituloprincipal {
    color: rgb(17, 17, 16);
    object-position: center;
    font-weight: 100;
    font-style: oblique;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    background-position: center;
    font-variant-position: initial;
    margin-top: 10px;
    padding: 30px;
    text-decoration: dashed;
}

H1 {
    text-align: center;
    color: hsl(278, 69%, 28%);
    text-shadow: 6px 2px 6px rgb(14, 13, 13);
    font-weight: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-position: center;
    font-variant-position: initial;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}

H2 {
    color: rgb(35, 15, 126);
    list-style-position: unset;
}

.letranormal {
    color: rgb(252, 247, 247);
    margin: 100;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    background: -moz-linear-gradient(rgb(61, 141, 165), WHITE);
    ;
}

.card {
    margin: 5px;
    width: 12rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 10px;
  
}

.card {
    background-color: aqua;

}

.card2 {
    width: 170px;
    height: 170px;
    display:flex;
    overflow: hidden;
    border-radius: 50%;
    position:center;
    margin-top: 10px;

}

.card:hover {
    box-shadow: 0;
    border-radius: none;
}

.container {
    padding: 0px 0px;
    padding: 10

}

.alineacion {
    text-align: center;
    align-content: space-around;
    font-size-adjust: 0.28;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 100;
}

#grupos {
background: rgb(223, 213, 213);
width: 640px;
height: auto;
border-radius: 20px;
opacity: 87%;

}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
  
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.form-main {
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-content .box {
    border-color: aquamarine;
    border: 1px solid blue;
    padding: 40% 50%;
    border-radius: 20px;
}

.form-content h3 {
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: white;
    font-weight: 500;
}


ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 4px;
    overflow: hidden;
    background-color: rgb(53, 37, 192);
    opacity: 0.7;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #1ca7d1;
}

ul.topnav li.right {
    float: right;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 50px;
}

figure.card:hover {
    background-color: #1ca7d1;
}

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.col-sm-3-xl span {
    background-color: white;
    border-radius: #1ca7d1;
    padding: auto;
}

.col-sm-3-xl div {
    background-color: white;
    border-radius: white;
    padding: auto;
}